<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<title>Edit League</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<body>

	<div class="container">

		<form th:action="@{/league/addLeague}" method="post">
			<div class="form-group">
				<label for="id">ID:</label> <input type="text" class="form-control"
					id="id" name="id_league" th:value="${league.id_league}"
					readonly="readonly" />
			</div>
			<div class="form-group">
				<label for="name">League name:</label> <input type="text"
					class="form-control" id="name" name="name_league"
					th:value="${league.name_league}" />
			</div>
			<div class="form-group">
				<label for="country">Country:</label> <input type="text"
					class="form-control" id="country" name="country"
					th:value="${league.country}" />
			</div>
			<div class="form-group">
				<label for="club">Number of clubs:</label> <input type="text"
					class="form-control" id="club" name="nbr_club"
					th:value="${league.nbr_club}" />
			</div>
			<div class="form-group">
				<label for="continent">Continent:</label> <select
					class="form-control" id="continent" name="continent">
					<option th:each="continent:${listContinent}"
						th:text="${continent.name_continent}"
						th:value="${continent.id_continent}" th:selected="${continent.id_continent}==${league.continent.getId_continent()}?'selected'"></option>
				</select>
			</div>

			<button type="submit" class="btn btn-primary">Submit</button>
		</form>

	</div>

</body>
</html>