<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<title>Matches List</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<body>

		<h2 class="text-primary text-center"> List of Matches</h2>
		<table class="table table-striped">
			<thead>
				<tr>
				  <th>ID</th>
				  <th>Matches Date</th>
				  <th>Round</th>
				  <th>Stadiums</th>
				  <th>League</th>
				  <th>Home Teams</th>
				  <th>Away Teams</th>
				  <th>Results</th>

			  
				</tr>
			</thead>
			<tbody>
				<tr th:each="match:${listMatche}">
				   <td th:text="${match.id_match}"></td>
					<td th:text="${match.date_match}"></td>
					<td th:text="${match.round}"></td>
					<td th:text="${match.stadium.getName_stadium()}"></td>
					<td th:text="${match.league.getName_league()}"></td>
					<td th:class="${match.goals_home_team}>${match.goals_away_team}?'font-weight-bold'" th:text="${match.home_team.getName_club()}"></td>
					<td th:class="${match.goals_home_team}<${match.goals_away_team}?'font-weight-bold'" th:text="${match.away_team.getName_club()}"></td>
					<td class="font-weight-bold">
				      <span th:text="${match.goals_home_team}"></span>
				       :
				      <span th:text="${match.goals_away_team}"></span>
		            </td>
					<td>
					  <a th:href="@{/matche/delete(id=${match.id_match})}" class="btn btn-danger" >Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
		
		<div class="container">	
			<ul class="pagination">
			 <li th:class="${currentPage}==${status.index}?'page-item active':''" th:each="p,status:${pages}" >
			 	<a class="page-link" th:href="@{/matche/listMatche(page=${status.index},size=${size})}" th:text="${status.index}"></a>
			 </li>
			</ul>
	  </div>
		
		<a href="/" class="text-secondary">Back to index page</a>
</body>
</html>